<div id="i18n" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
  <% Gherkin::I18n.all.each do |i18n| %>
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#<%= i18n.iso_code %>"><%= i18n.iso_code %></a></li>
  <% end %>
</ul>

<% Gherkin::I18n.all.each do |i18n| %>
  <div id="<%= i18n.iso_code %>">
    <h2><%= i18n.keywords(:native)[0] %></h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd><%= keyword_spans(i18n, :feature) %></dd>
      <dt>Scenario</dt>
      <dd><%= keyword_spans(i18n, :scenario) %></dd>
      <dt>Given</dt>
      <dd><%= keyword_spans(i18n, :given) %></dd>
      <dt>When</dt>
      <dd><%= keyword_spans(i18n, :when) %></dd>
      <dt>Then</dt>
      <dd><%= keyword_spans(i18n, :then) %></dd>
      <dt>And</dt>
      <dd><%= keyword_spans(i18n, :and) %></dd>
      <dt>But</dt>
      <dd><%= keyword_spans(i18n, :but) %></dd>
      <dt>Scenario Outline</dt>
      <dd><%= keyword_spans(i18n, :scenario_outline) %></dd>
      <dt>Background</dt>
      <dd><%= keyword_spans(i18n, :background) %></dd>
      <dt>Examples</dt>
      <dd><%= keyword_spans(i18n, :examples) %></dd>
    </dl>
    
    <% if example(i18n.iso_code) %><%= pygmentize(i18n.iso_code) %><% else %>No example. Maybe you want to contribute one?<% end %>
  </div>
<% end %>
</div>
