<div id="i18n" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
  <% languages.each do |lang| %>
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#<%= lang %>"><%= lang %></a></li>
  <% end %>
</ul>

<% languages.each do |lang| %>
  <div id="<%= lang %>">
    <h2><%= lang_name(lang) %></h2>
    <dl class="keywords">
      <dt>Feature</dt>
      <dd><%= keyword(lang, 'feature') %></dd>
      <dt>Scenario</dt>
      <dd><%= keyword(lang, 'scenario') %></dd>
      <dt>Given</dt>
      <dd><%= keyword(lang, 'given') %></dd>
      <dt>When</dt>
      <dd><%= keyword(lang, 'when') %></dd>
      <dt>Then</dt>
      <dd><%= keyword(lang, 'then') %></dd>
      <dt>And</dt>
      <dd><%= keyword(lang, 'and') %></dd>
      <dt>But</dt>
      <dd><%= keyword(lang, 'but') %></dd>
      <dt>Scenario Outline</dt>
      <dd><%= keyword(lang, 'scenario_outline') %></dd>
      <dt>Background</dt>
      <dd><%= keyword(lang, 'background') %></dd>
      <dt>Examples</dt>
      <dd><%= keyword(lang, 'examples') %></dd>
    </dl>
    
    <% if example(lang) %><%= pygmentize(lang) %><% else %>No example. Maybe you want to contribute one?<% end %>
  </div>
<% end %>
</div>
